<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        margin: 0;
        background-color: #f8f9fa;
    }
    .container {
        text-align: center;
    }
</style>

<div class="container">
        <h1>Welcome examtest developer</h1><br><br>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">3. สร้าง Code ตาม Class Diagram นี้ <br>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">| Animal |<br>
                            | int ageString gender |<br>
                            | isMammal()mate() |<br></th>
                        <th scope="col">| Duck |<br>
                            | String beakColor |<br>
                            | swim()quack() |<br></th>
                        <th scope="col">| Fish |<br>
                            | int sizeInFeet |<br>
                            | canEat() |</th><br>
                        <th scope="col">| Zebra |<br>
                            | boolean is_wild |<br>
                            | run() |</th><br>
                      </tr>
                    </thead>
                </table>
            เขียน Code ด้วย JavaScript,TypeScript,C#,Java หรือ Python ภาษาตามที่คุณสะดวก
            
            </label>
            <br><br>
            <textarea class="form-control" id="exampleFormControlTextarea1" style="height: 150px; width: 100%;"placeholder="Please explain solution here."></textarea><br>
            <button type="button" class="btn btn-danger" [routerLink]="['/developer2']">Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" [routerLink]="['/developer4']">Next</button>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
