<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        margin: 0;
        background-color: #f8f9fa;
    }
    .container {
        text-align: center;
    }
</style>

<div class="container">
        <h1>Welcome examtest developer</h1><br><br>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">5. คุณเคยอ่านเอกสาร เกี่ยวกับการพัฒนา Software เรื่องอะไรล่าสุด (ระหว่างเรียนหรือหลังจากเรียนก็ได้)
            และอธิบายตามความเข้าใจ ที่คุณได้อ่านเรื่องนั้นมาว่ามันเกี่ยวกับอะไร
            </label><br><br>
            <br><br>
            <textarea class="form-control" id="exampleFormControlTextarea1" style="height: 150px; width: 100%;"placeholder="Please explain solution here."></textarea><br>
            <button type="button" class="btn btn-danger" [routerLink]="['/developer4']">Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" [routerLink]="['/developer6']">Next</button>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
