<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        margin: 0;
        background-color: #f8f9fa;
    }
    .container {
        text-align: center;
    }
</style>

<div class="container">
        <h1>Welcome examtest tester</h1><br><br>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">7. คุณจะรับมือกับ ผู้ใช้และทีมงานที่มีส่วนได้ส่วนเสียกับระบบ ที่ไม่พอใจกับผลการทดสอบของคุณ จะใช้อะไรเพื่อจัดการกับข้อกังวลของพวกเขา<br>
                
            </label>
            <br><br>
            <textarea class="form-control" id="exampleFormControlTextarea1" style="height: 150px; width: 100%;"placeholder="Please explain solution here."></textarea><br>
            <button type="button" class="btn btn-danger" [routerLink]="['/tester6']">Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" [routerLink]="['/tester8']">Next</button>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
