<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        margin: 0;
        background-color: #f8f9fa;
    }
    .container {
        text-align: center;
    }
</style>

<div class="container">
        <h1>Welcome examtest developer</h1><br><br>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">7. เขียนโปรแกรมเพื่อทำงานตาม Flowchart นี้เพื่อหามูลค่าของกำนัลที่ลูกค้าควรจะได้รับ และพนักงานสามารถแจ้ง มูลค่าของ Gift Voucher และ Special Offer ได้ (โดยใช้ หลักการใดหลักการหนึ่ง OOP, Functional, Procedural)<br>
                ...<br>
                เขียน Code ด้วย JavaScript,TypeScript,C#,Java หรือ Python ภาษาตามที่คุณสะดวก
            </label><br><br>
            <br><br>
            <textarea class="form-control" id="exampleFormControlTextarea1" style="height: 150px; width: 100%;"placeholder="Please explain solution here."></textarea><br>
            <button type="button" class="btn btn-danger" [routerLink]="['/developer6']">Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" [routerLink]="['/developer8']">Next</button>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
