<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        margin: 0;
        background-color: #f8f9fa;
    }
    .container {
        text-align: center;
    }
</style>

<div class="container">
        <h1>Welcome examtest developer</h1><br><br>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">8. จากรูปตัวอย่างด้านล่างให้เขียน HTML และ CSS ให้เป็นตามรูปตัวอย่างโดยใช้ Flexbox หรือ Grid ในการจัดวาง<br>
                
            </label><br><br>
            <br><br>
            <textarea class="form-control" id="exampleFormControlTextarea1" style="height: 150px; width: 100%;"placeholder="Please explain solution here."></textarea><br>
            <button type="button" class="btn btn-danger" [routerLink]="['/developer7']">Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" [routerLink]="['/finish']">Next</button>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
