<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        margin: 0;
        background-color: #f8f9fa;
    }
    .container {
        text-align: center;
    }
</style>

<div class="container">
        <h1>Welcome examtest tester</h1><br><br>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">1. จุดประสงค์ของการทำการ Manual Testing คืออะไร<br>
            </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" style="height: 150px; width: 100%;"placeholder="Please explain solution here."></textarea><br>
            <button type="button" class="btn btn-danger" [routerLink]="['/#']">Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" [routerLink]="['/tester2']">Next</button>
        </div>
    </div>
