<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        margin: 0;
        background-color: #f8f9fa;
    }
    .container {
        text-align: center;
    }
</style>

<div class="container">
        <h1>Welcome examtest developer</h1><br><br>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">6. เขียน Function โปรแกรมจากโครงสร้างตัวอย่าง โดยใช้หลักการของ Linked List ในการหาผลรวมของ Value ในแต่ล่ะ Node.<br>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">|11|19|32|64|128|
                        </th>
                        <th scope="col"><p></p></th>
                    </thead>
                </table>
            </label><br><br>
            <br><br>
            <textarea class="form-control" id="exampleFormControlTextarea1" style="height: 150px; width: 100%;"placeholder="Please explain solution here."></textarea><br>
            <button type="button" class="btn btn-danger" [routerLink]="['/developer5']">Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" [routerLink]="['/developer7']">Next</button>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
